<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Narrow Jumbotron Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="jumbotron-narrow.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="container">
            <header class="header-desktop3 d-none d-lg-block"> 
                <div class="section__content section__content--p35"> 
                    <div class="header3-wrap"> 
                        <div class="header__logo"> 
                            <a href="#"> 
                                <img src="images/icon/logo-white.png" alt="CoolAdmin"/> 
                            </a>                             
                        </div>                         
                        <div class="header__navbar"> 
                            <ul class="list-unstyled"> 
                                <li> 
                                    <a href="/client/dash"> <i class="fas fa-tachometer-alt"></i> <span class="bot-line"></span>Dashboard</a> 
                                </li>                                 
                                <li> 
                                    <a href="/client/event"> <i class="fas fa-shopping-basket"></i> <span class="bot-line"></span>My Events</a> 
                                </li>                                 
                                <li> 
                                    <a href="/client/inbox"> <i class="fas fa-shopping-basket"></i> <span class="bot-line"></span>Messeges</a> 
                                </li>                                 
                                <li> 
                                    <a href="/client/help"> <i class="fas fa-trophy"></i> <span class="bot-line"></span>Support Center</a> 
                                </li>                                 
                            </ul>                             
                        </div>                         
                        <div class="header__tool"> 
                            <div class="header-button-item has-noti js-item-menu"> 
                                <i class="zmdi zmdi-notifications"></i> 
                                <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown"> 
                                    <div class="notifi__title"> 
                                        <p>You have 3 Notifications</p> 
                                    </div>                                     
                                    <div class="notifi__item"> 
                                        <div class="bg-c1 img-cir img-40"> 
                                            <i class="zmdi zmdi-email-open"></i> 
                                        </div>                                         
                                        <div class="content"> 
                                            <p>You got a email notification</p> 
                                            <span class="date">April 12, 2018 06:50</span> 
                                        </div>                                         
                                    </div>                                     
                                    <div class="notifi__item"> 
                                        <div class="bg-c2 img-cir img-40"> 
                                            <i class="zmdi zmdi-account-box"></i> 
                                        </div>                                         
                                        <div class="content"> 
                                            <p>Your account has been blocked</p> 
                                            <span class="date">April 12, 2018 06:50</span> 
                                        </div>                                         
                                    </div>                                     
                                    <div class="notifi__item"> 
                                        <div class="bg-c3 img-cir img-40"> 
                                            <i class="zmdi zmdi-file-text"></i> 
                                        </div>                                         
                                        <div class="content"> 
                                            <p>You got a new file</p> 
                                            <span class="date">April 12, 2018 06:50</span> 
                                        </div>                                         
                                    </div>                                     
                                    <div class="notifi__footer"> 
                                        <a href="#">All notifications</a> 
                                    </div>                                     
                                </div>                                 
                            </div>                             
                            <div class="header-button-item js-item-menu"> 
                                <i class="zmdi zmdi-settings"></i> 
                                <div class="setting-dropdown js-dropdown"> 
                                    <div class="account-dropdown__body"> 
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-account"></i>Account</a> 
                                        </div>                                         
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-settings"></i>Setting</a> 
                                        </div>                                         
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-money-box"></i>Billing</a> 
                                        </div>                                         
                                    </div>                                     
                                    <div class="account-dropdown__body"> 
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-globe"></i>Language</a> 
                                        </div>                                         
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-pin"></i>Location</a> 
                                        </div>                                         
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-email"></i>Email</a> 
                                        </div>                                         
                                        <div class="account-dropdown__item"> 
                                            <a href="#"> <i class="zmdi zmdi-notifications"></i>Notifications</a> 
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                            <div class="account-wrap"> 
                                <div class="account-item account-item--style2 clearfix js-item-menu"> 
                                    <div class="image"> 
                                        <img src="images/icon/avatar-01.jpg" alt="John Doe"/> 
                                    </div>                                     
                                    <div class="content"> 
                                        <a class="js-acc-btn" href="#">john doe</a> 
                                    </div>                                     
                                    <div class="account-dropdown js-dropdown"> 
                                        <div class="info clearfix"> 
                                            <div class="image"> 
                                                <a href="#"> 
                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe"/> 
                                                </a>                                                 
                                            </div>                                             
                                            <div class="content"> 
                                                <h5 class="name"> <a href="#">john doe</a> </h5> 
                                                <span class="email">johndoe@example.com</span> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="account-dropdown__body"> 
                                            <div class="account-dropdown__item"> 
                                                <a href="#"> <i class="zmdi zmdi-account"></i>Account</a> 
                                            </div>                                             
                                            <div class="account-dropdown__item"> 
                                                <a href="#"> <i class="zmdi zmdi-settings"></i>Setting</a> 
                                            </div>                                             
                                            <div class="account-dropdown__item"> 
                                                <a href="#"> <i class="zmdi zmdi-money-box"></i>Billing</a> 
                                            </div>                                             
                                        </div>                                         
                                        <div class="account-dropdown__footer"> 
                                            <a href="#"> <i class="zmdi zmdi-power"></i>Logout</a> 
                                        </div>                                         
                                    </div>                                     
                                </div>                                 
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </header>
            <div class="jumbotron">
                <h1>Jumbotron heading</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
            </div>
            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Subheading</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                    <h4>Subheading</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                    <h4>Subheading</h4>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
                <div class="col-lg-6">
                    <h4>Subheading</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                    <h4>Subheading</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                    <h4>Subheading</h4>
                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
            </div>
            <footer class="footer">
                <p>&copy; Company 2014</p>
            </footer>
        </div>         
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
