#tags {
  border:1px solid #ccc;
  padding:5px;
}

#tags > span {
  display:block;
  float:left;
  color:rgba(0, 0, 0, 0.71);
  background:rgba(128, 128, 128, 0.43);
  padding:5px;
  padding-right:25px;
  margin:4px;
}